#menu-schedule .nav-link {
  color: #333;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 50px;
  transition: all 0.3s ease;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

#menu-schedule .nav-link:hover {
  background-color: #f0f0f0;
  color: #0056b3;
  border: 1px solid #ccc;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

#menu-schedule .nav-link.active {
  background-color: #0056b3;
  color: white !important;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.day-name {
  white-space: nowrap; /* ป้องกันข้อความขึ้นบรรทัดใหม่ */
  width: 1%; /* ทำให้ช่องตารางมีขนาดเล็กที่สุด */
  text-align: center; /* จัดข้อความให้อยู่ตรงกลาง */
  padding: 5px; /* เพิ่มระยะห่างเล็กน้อยรอบข้อความ */
}
.timeslot {
  font-size: 50%;
  min-width: 80px;
  max-width: 100px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  overflow: hidden;
}

.subjectname {
  width: 250px;
}

.createtable {
  table-layout: fixed;
  width: 100%;
}
