body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  margin-top: 56px; /* เว้นระยะด้านบนเท่ากับความสูงของ Navbar */
}

.navbar {
  position: fixed; /* ทำให้ Navbar คงที่ด้านบน */
  top: 0; /* ติดกับขอบบนของหน้าจอ */
  left: 0; /* ติดกับขอบซ้าย */
  right: 0; /* ติดกับขอบขวา */
  padding: 0rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1001; /* ให้อยู่เหนือองค์ประกอบอื่น */
}

.login-container {
  display: flex;
  height: 100vh;
}

.login-form {
  text-align: center;
  width: 100%;
  max-width: 400px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.logo {
  height: 40px;
  width: auto;
  /* margin-top: 10px; */
}

#sidebar {
  position: fixed;
  top: 50px;
  left: 0;
  width: 200px;
  height: calc(100vh - 56px);
  background-color: #343a40;
  z-index: 1000;
  transition: all 0.3s ease;
  overflow-y: auto;
}

#sidebar.hidden {
  left: -200px; /* ซ่อน Sidebar */
}

#content {
  transition: margin-left 0.3s ease;
  margin-left: 200px;
  margin-top: 56px;
  padding: 20px;
  transition: margin-left 0.3s ease;
}
#content.full-width {
  margin-left: 0;
}

#content.sidebar-open {
  margin-left: 200px;
}

#content.sidebar-closed {
  margin-left: 0;
}

/* Toggle Button */
.toggle-btn {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 1.5rem;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.toggle-btn:hover {
  color: #ccc;
}

/* Responsive for small screens */
@media (max-width: 768px) {
  #sidebar {
    position: absolute;
    z-index: 1000;
    height: 100vh;
  }

  #content {
    margin-left: 0 !important;
  }
}

/* Logo Style */
.container-fluid {
  background-color: #f8f9fa;
}

.nav-link.active {
  font-weight: bold;
  background-color: #ffe5e5;
  border-radius: 5px;
}

.card {
  border-radius: 8px;
}

.card-body img {
  object-fit: cover;
  border: 2px solid #ddd;
}
